html, body
{
	height: 100%;
}
@font-face{
    font-family: 'LanterosySansSerif';
    src: url(fonts/Lanterosy.otf);
}
body
{
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	/*background: linear-gradient(130deg, #ffe7e7b0 0%, #a9d4ffc8 50%);*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #191919;
	
}
p
{
	margin-top: 1em;
}
ol, ul
{
	padding: 0;
	list-style: none;
}
.container
{
	margin: 0px auto;
	width: 1250px;
}
#header-wrapper
{
	/*background: #f9f4f4;*/
	background: linear-gradient(130deg, #ffcccc8e 0%, #a9d4ff7b 50%);
	/*background: linear-gradient(130deg, #ffe7e7b0 0%, #a9d4ffc8 50%);*/
	/*color:white;*/
  box-shadow: 0 0 20px 1px rgb(151, 151, 151);

}

#header-wrapper-img
{
	/*background: #f9f4f4;*/
	
	background: linear-gradient(130deg, #ffcccc8e 0%, #a9d4ff7b 50%);
	/*background: linear-gradient(130deg, #ff7c7c 0%, #65b2ff 50%);*/
  box-shadow: 0 0 20px 1px rgb(107, 107, 107);

}
#header
{
	position: relative;
	height: 100px;

}

#logo 
{
	position: absolute;
	top: -1.5em;
	width: 100%;
    font-family: 'LanterosySansSerif';
    background: linear-gradient(130deg, #ff0202 0%, #127eea 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prepiska
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-top: 4.0em;
    right: 67em;
    letter-spacing: 0.15em;
    background: linear-gradient(130deg, #ff0202 0%, #127eea 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu
{
	position: absolute;
	right: 0;
	top: 0.5em;
    
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}
#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.1em;
	padding: 1em 1.5em 0em 1.5em;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: rgb(16, 15, 15);
}


img {
    
	/*height: auto;*/
	max-width:50%;
	position: relative;
	
}

.basket img
{
	-webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.basket img:hover
{
	-webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
}
.basket img:active
{
	opacity: 10%;
}

#node li a
{
	color: #000000; 
}
#node li a:hover
{
	background: linear-gradient(130deg, #ff0202 0%, #127eea 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
		
}

#countOfBasket
{
	background: linear-gradient(130deg, #ff0202 10%, #ff9d00 100%);
    /*-webkit-background-clip: text;
		
    -webkit-text-fill-color: transparent;*/
	position:relative;
	font-weight: 600;
	font-size: smaller;
	top:-2em;
	left:8em;
	text-align: center;
	display: none;
	width: 15px;
	height: 15px;
	border-radius: 7px;
	color: white;
}

.content{
	margin-top: 50px;
    
}
.search
{
	
	position: relative;
    left: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1,5em;
	font-weight: 1000;

}
.catalog
{
    position: relative;
    /*left: 5em;*/
	text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 2em;
   
}
.table
{
	/*box-shadow: 0 0 10px 1px rgb(107, 107, 107);*/
	position: relative;
	
	opacity: 100%;
	margin-top: 1em;
	margin-left: 1em;
	padding-bottom: 2em;
	border-collapse: collapse; /* Свернуть границы */
  width: 98%; /* Полная ширина */
  /*border: 1px solid #f9f0f0;*/ /* Добавить серую границу */
  font-size: 18px; /* Увеличить размер шрифта */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table th,td
{
	text-align: center; /* Выравнивание текста по левому краю */
  padding: 1.2em; /* Добавить отступ */
	width: 7%;
	
	
}
.table tr
{
	/* Добавить нижнюю границу для всех строк таблицы */
	border-bottom: 5px solid #f9f0f0c8;
	background-color: rgba(255, 247, 247, 0.897);
	/*opacity: 10%;*/
	
}
.table tr:hover
{
	/* Добавить серый цвет фона для заголовка таблицы и при наведении курсора мыши */
	background-color: #ffefef;
}
.head{
	background-color: #f9f4f4;
}
.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 300px;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
	text-align:center;
	transition: all 0.3s ease 0s;
	margin-bottom: 20px;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
	height: 100px;
	margin-bottom: 20px;
}
.product-title
{
	color: rgb(110, 68, 68);
	font-weight: 700;
	font-size: large;
	text-transform: uppercase;
}
.product-desc {
    max-height: 100px;
    overflow: hidden;
}
.product-price {
	bottom: 3.5em;
	left: 0;
	position: absolute;
	width: 100%;
	color: #d51e08;
	font-size: 18px;
	font-weight: 500;
}
.hide[hidden]
{
	/*opacity: 1;*/
	display: none
}



a.buttonBasket
{
	position:relative;
	display: block;
	font-weight: 600;
 	/*right: 5.0em;*/
	/*height: 1em;*/
	width: 6.8em;
	left:71em;
	top: 0.5em;
	font-size: large;
 	color: white;
 	text-decoration: none;
	text-align: center;
 	padding: .8em 1em calc(.8em + 3px);
 	border-radius: 2px;
 	background: rgb(64,199,129);
 	box-shadow: 0 -3px rgb(53,167,110) inset;
 	transition: 0.2s;

}
a.buttonBasket:hover
{
	background: rgb(53, 167, 110);
}
a.buttonBasket:active
{
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
}

a.button 
{
	/*left: -3em;*/
	
	position: relative;
	font-weight: 500;
	height: 1em;
 	color: white;
 	text-decoration: none;
 	padding: .8em 1em calc(.8em + 3px);
 	border-radius: 2px;
 	background: rgb(64,199,129);
 	box-shadow: 0 -3px rgb(53,167,110) inset;
 	transition: 0.2s;
}
a.button:hover
{
	background: rgb(53, 167, 110);
}
a.button:active
{
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
}

#header-featured
{
	padding: 12.65em 0em;
	
}
.background
{
	background-image: url(images/61805.jpg);
	background-position: center;
	background-size: cover;
	
	/*backdrop-filter: hue-rotate(20deg);*/

}

#banner
{
	position: relative;
	top: -1em;
	overflow: hidden;
	width: 1000px;
	text-align: center;
	color: rgb(31, 29, 29);
	font-size: 1.5em;
}
#bannerSocial
{
	position: relative;
	top: -4em;
	overflow: hidden;
	width: 1000px;
	text-align: center;
	color: rgb(6, 6, 6);
	font-size: 1.5em;
}

#banner a
{
	color: rgba(255,255,255,.9);
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 70px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
		border-radius: 30px 10px;
		
    /*border-radius: .6rem;*/
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
.text-field {
	margin-bottom: 1em;
  }
  /* стили для label */
  .text-field__label {
	display: block;
	margin-bottom: 1em;
  }

  .searchInput
  {
	position: relative;
	left: 4em;
	width: 20%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .text-field__inDB
  {
	display: inline-block;
	width: 8%;
	position: relative;
	left: 1em;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  }
  /* стили для input */
  .text-field__input {
	display: block;
	width: 95%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .text-field__input::placeholder {
	color: #212529;
	opacity: 0.4;
  }
  .text-field__input:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bdbdbd;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
  .X{
	width: 15%;
	position: relative;
	left: 1em;
  }
.buttonDB
{
display: inline-block;
font-weight: 400;
line-height: 2.3;
position: relative;
left: -2.52em;
width: 62%;
color: #fff;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: #f91717;
border: 1px solid #f52424;
padding: .375rem .75rem;
font-size: 1rem;
border-radius: .25rem;
transition: background-color .15s ease-in-out;

}
.buttonDB:hover
{
	background-color: #c80000;
	border-color: #c80000;
}
  .sort
  {
	display: inline-block;
	font-weight: 400;
	line-height: 2.3;
	position: relative;
	margin-top: -0.15em;
	left: 2.5em;
	width: 10%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out;
  }
  .inOrder
  {
	position: relative;
	left: 7.7em;

  }
  button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
	margin-top: 1em;
	left: 7em;
	width: 50%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out;
  }
  button:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
  }

  .basketIcon
  {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 30%;
  }
	.basketIcon:hover
  {
	opacity: 70%;
  }
/*Новые Богдана css*/
.text-field1 {
	margin-bottom: 1rem;
}

.text-field__label1 {
	position:relative;
	
	display: block;
	margin-bottom: 0.25rem;
}

.text-field__input1 {
	display: block;
	width: 90%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__message1 {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: .875rem;
	color: #dc3545;
}


.text-field__input1:invalid,
.text-field__input1:valid {
	border-color: #dc3545;
	padding-right: 2.25rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.5625rem center;
	background-size: 1.125rem 1.125rem;
}

.text-field__input1:valid {
	border-color: #198754;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.text-field__input1:invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.text-field__input1:valid:focus {
	border-color: #198754;
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.text-field__input2 {
	display: block;
	width: 95%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border-style: none;
	border-color: transparent;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.text-field__inDB:invalid,
.text-field__inDB:valid {
	border-color: #dc3545;
	padding-right: 2.25rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.5625rem center;
	background-size: 1.125rem 1.125rem;
}

.text-field__inDB:valid {
	border-color: #198754;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.text-field__inDB:invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.text-field__inDB:valid:focus {
	border-color: #198754;
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

#wave {
  position:absolute;
  bottom: -5px;
  left:0;
  right: 0;
	opacity: 70%;
}
.waves {
  position:absolute;
  width: 100%;
  height:15vh;
  bottom:-5px;
  min-height:100px;
  max-height:150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
